#report-bug-form {
    margin-top: 0;
}

#report-bug-form h2 {
    font-size: 17px;
    font-weight: 500;
    margin-top: -30px;
    margin-bottom: 30px;
    color: var(--green);
}

#report-bug-form h2.error {
    color: var(--red);
}