@media (max-width: 1020px) {
    footer {
        display: block !important;
    }
    footer .row {
        width: 100% !important;
        margin-top: 30px;
        text-align: left !important;
    }
    footer .row.last .icons {
        float: left !important;
    }
}