@media (max-width: 1550px) {
    .wrapper section {
        width: 80%;
        margin-inline: 10%;
    }
    footer {
        padding-inline: 3% !important;
    }
    .default-dropdown .dropdown {
        width: 64% !important;
    }
}