.home-img {
    height: 450px;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.home-img h1 {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 120px;
    font-size: 48px;
}

.home-img button {
    margin-top: 140px;
    width: 150px;
    margin-left: calc(50% - 75px);
    font-size: 15.5px;
}

.home-img button:hover {
    width: 160px;
    margin-left: calc(50% - 80px);
}
