.blue-btn {
    background-color: var(--main);
    border-radius: 17px;
    padding: 40px;
    color: var(--white);
    outline: none;
    border: none;
    padding-block: 10px;
    font-size: 18px;
    cursor: pointer;
    line-height: 30px;
}

.blue-btn:hover svg {
   margin-top: -1px;
}

.blue-btn svg {
    height: 30px;
    width: 15px;
    float: right;
    transition: margin .1s;
    margin-left: 10px;
}