footer {
    border-top: 2px solid black;
    margin-top: 150px;
    padding: 40px;
    margin-inline: 170px;
    display: flex;
    padding-inline: 12%;
}

footer .row {
    width: 23%;
}

footer .row.last {
    width: 31%;
    text-align: right;
}

footer .row h4 {
    font-weight: 500;
    margin-bottom: 12px;
}

footer .row p {
    line-height: 15px;
    font-weight: 500;
    margin-block: 7.5px;
    color: var(--light-grey);
    cursor: pointer;
}

footer .row p a {
    color: var(--light-grey);
    text-decoration: none;
}

footer .row .icons {
    width: 130px;
    float: right;
}

footer .row .icons .icon {
    float: right;
    margin-inline: 10px;
}

footer .row .icons .icon svg {
    width: 26px;
    height: 26px;
    fill: var(--blue-grey);
}