*, html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.button-1 {
    border-radius: 30px;
    padding: 6px;
    padding-inline: 40px;
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
    transition-delay: .03s;
}

.button-1 a {
    transition: all .2s;
}

.button-1:hover a {
    letter-spacing: 1px;
}

h1 {
    font-size: 29px;
}

p {
    font-size: 16px;
}

/** Box **/
.box-space {
    display: grid;
    justify-content: space-between;
    gap: 40px;
}

.box-space.only-img {
    grid-template-columns: 1fr 1fr;
}

.box-space.only-img .inner-box {
    height: calc(300px + 34px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-space.only-img .inner-box .img-box {
    
    transition: margin .3s ease, width .3s ease, height .3s ease, padding .3s ease;
}

.box-space.only-img .box:hover .inner-box .img-box {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    margin: -5px;
}

.box-space.only-img .box:hover .inner-box .img-box .img {
    margin-top: calc(334px / 2 - 245px);
}

.box-space.only-img .inner-box .img-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.box-space.only-img .inner-box .img-box .img {
    width: 550px;
    height: 500px;
    margin-top: calc(334px / 2 - 250px);
    margin-left: calc(50% - 275px);
    background-size: cover;
    background-position: center center;
    transition: .3s ease;
    border-radius: 10px;
}

.box p.inner-box, .box .inner-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.box h2 svg {
    height: 23px;
    margin-block: -3px;
    margin-right: 15px;
}

.box.bigicon h2 svg {
    height: 28px;
}

.box.biggericon h2 svg {
    height: 30px;
}

.box h2 {
    font-size: 20px;
    line-height: 53px;
    font-weight: 500;
    line-height: 30px;
    padding-block: 35px;
    display: flex;
    align-items: center;
}

.box h3 {
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    margin-block: 7px;
}

.box .inner-box p {
    font-size: 15.5px;
    margin: 20px;
    height: 70px;
}

.box .inner-box .icons {
    padding-inline: 65px;
    margin-top: 40px;
}

.icons {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons .icon {
    cursor: pointer;
}

.icons .icon svg {
    width: 30px;
    height: 30px;
    fill: var(--blue-grey);
    transition: transform .3s ease;
}

.icons .icon:hover svg {
    transform: rotateZ(12.5deg);
}

.box {
    overflow: hidden;
    grid-area: 1;
}

.box .inner-box:not(p) {
    width: calc(100% - 34px);
    padding: 15px;
}

.box img {
    width: 100%;
    border-radius: 13px;
    transition: width .1s, margin .1s;
}

.box .inner-box:hover img.hover {
    width: 101%;
    margin: -.5%;
}

.wrapper section {
    width: 60%;
    margin-left: 20%;
    margin-top: 120px;
}

.wrapper h1 {
    line-height: 50px;
    padding-block: 50px;
}

section.text button {
    margin-top: 30px;
}